/* CUSTOM STYLES */


@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700,800,900');

h1, h2, h3, h4, h5, h6, p, a{font-family: 'Work Sans', sans-serif;}

header.masthead {padding-top: calc(6rem + 0px);padding-bottom: 0;}
header.masthead img {width:100%;}

.q-somos {background: #665ea8;}
.q-somos h3 {color: #fff;text-transform: uppercase;margin: 0;font-size: 2.3rem;letter-spacing: 2px;}
.q-somos p {color: #fff;margin: 0;font-size: 0.9rem;}
.q-somos hr {border-color: #f89c22;border-width: 4px;max-width: 180px;margin: 25px auto;}

.empresa {background:#2e2e2d;padding-bottom:0;}
.empresa h3 {color: #fff;text-transform: uppercase;margin: 0;font-size: 2.3rem;letter-spacing: 2px;}
.empresa p {color: #fff;margin: 0;font-size: 0.9rem;}
.empresa hr {border-color: #665ea8;border-width: 4px;max-width: 180px;margin: 25px auto;}

.contacto {background:#fff;}
.contacto h3 {color: #665ea8;text-transform: uppercase;margin: 0;font-size: 2.3rem;letter-spacing: 2px;}
.contacto p {color: #665ea8;margin: 0;font-size: 0.9rem;}
.contacto a {color: #665ea8;margin: 27px 0 0;font-size: 1rem;font-weight: 600;display: inline-block;}
.contacto hr {border-color: #f89c22;border-width: 4px;max-width: 180px;margin: 25px auto;}

.empresaSecond {padding-top:0;background:#dcdcdc}

.footer {background-color:#f89c22}
.logos-footer {text-align:right;}
.logos-footer img {margin:0 10px;}
.footer p {color: #fff;margin: 0;font-size: 0.94rem;text-align: left;line-height: normal;letter-spacing: 1px;}

.navbar {background:#fff;}
#mainNav .navbar-nav li.nav-item a.nav-link {color: #645dc7;font-size: 0.9rem;transition:.6s;}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {color: #f89c22;transition:.6s;}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:active, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {color: #f89c22;background: transparent;transition:.6s;}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active {color: #f89c22;background: transparent;transition:.6s;}

.carousel-indicators2 {
  position: relative;
  top: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators2 li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000\9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators2 .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}


.carousel-indicators {
  position: relative;
  top: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000\9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}